

    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center" style="background-color:white;">
            <hr>
            <div class="col-md-12 ">
                <i class="fa fa-5x fa-fw text-info fa-users"></i>
                <h2 class="text-info">Login de Usuarios</h2>
                <hr>
            </div>
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="control-label">Correo Electronico:</label>


                    @Html.TextBox("correo_electronico_persona", null, new { @class = "form-control", @placeholder = "Ingrese Su Usuario" })



                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña:</label>

                    @Html.TextBox("clave_persona", null, new { @class = "form-control", @placeholder = "Ingrese su Contraseña", @type = "password", @maxlength = "20" })

                </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-block btn-lg btn-info">Ingresar</button>
                        <hr>
                        <p>

                     
                                <h3>@Html.ActionLink("¿Olvido sus Credenciales?", "recordar_credenciales", "login", routeValues: null, htmlAttributes: new { @class = "text-info" })</h3>
                       
                        </p>
                        <hr>
                        <p>
                            <h2> @Html.ActionLink("Registrarse", "vista_registro", "login", routeValues:null, htmlAttributes: new { id = "registerLink", @class = "text-info" })</h2>
                        </p>
                    </div>
                    <hr>
            }
        </div>
    </div>




